.Container {
  background: #14172B;
  padding: 50px 75px;
  min-height: 100vh;
  max-height: 100%;
}

.Trend_wrapper img {
  width: 13.33px;
  height: 13.33px;
}

.Trend_wrapper p {
  letter-spacing: -0.01em;
}